<div class="loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div style="background-color: rgb(255, 255, 255);">
    <div class="container" class="class1">
      <div>
        <h2>AMC Payment Details Report</h2>
        <form [formGroup]="paymentReportsFilter">
          <b>From Date:</b>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="date1" required>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="paymentReportsFilter.get('date2').hasError('required')">
                from date is required
              </mat-error>
            </mat-form-field>
          </div>
        <br>
          <b>To date:</b>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="date2" required>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error *ngIf="paymentReportsFilter.get('date2').hasError('required')">
                to date is required
              </mat-error>
            </mat-form-field>
            <mat-error *ngIf="f.date2.invalid">
              <mat-error *ngIf="f.date2.errors.confirmedValidator"><h5>"From date" should be before than "to date".</h5></mat-error> 
             </mat-error>
          </div>
          <b>Category:</b>
          <div>
          <mat-form-field appearance="outline" class="col-15 col-md-auto">
           <mat-label>Choose an option</mat-label>
           <mat-select formControlName="category" required>
             <mat-option value="all" selected="true">All</mat-option>
             <mat-option value="software">Software</mat-option>
             <mat-option value="hardware">Hardware</mat-option>
           </mat-select>
           <mat-error *ngIf="paymentReportsFilter.get('category').hasError('required')">Category is required</mat-error>
         </mat-form-field>
       </div>
          <br>
          <button class="btn btn-primary" type="submit" [disabled]="!paymentReportsFilter.valid" (click)="onSubmit()">Generate Report</button>
        </form>
      </div>
    </div>