<div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  <div class="rate-limit-reached" *ngIf="isRateLimitReached">
      {{errorMessage}}
  </div>
</div>
<body>
    <div class="container" id="container" >
    <div class="form-container sign-in-container">
      <form  name="loginForm" [formGroup]="loginForm" *ngIf="!_authentication.loggedIn()">
        <h1 style="margin-bottom: 50px;">Login</h1>
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>UserId</mat-label>
            <input formControlName="userId" matInput placeholder="Enter UserId" required />
            <mat-error *ngIf="!loginForm.controls['userId'].valid"> UserId is required </mat-error>
          </mat-form-field>
        </div>
        <div>  
          <mat-form-field class="full-width" appearance="outline" >
          <mat-label>Password</mat-label>
          <button style="vertical-align: middle;" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
         <mat-error *ngIf="loginForm.controls['password'].errors?.required ">Password is required</mat-error>
         <mat-error *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">Password must be at least 8 characters</mat-error>            
        </mat-form-field>
        </div>
        <a class="text-link" (click)="forgotpassword()">Forgot your password?</a>
        <button  class="ghost" (click)="onLogin()" >Login</button>
       </form>
       <form  name="loginForm" [formGroup]="loginForm" *ngIf="_authentication.loggedIn()">
         <h2>do you want to log out</h2>
        <button  class="ghost" (click) = "logout()">Logout</button>
       </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1 style="margin-bottom: 55px;" *ngIf="!_authentication.loggedIn()">Welcome Back!</h1>
          <img class="img-responsive" src="assets/epic.png" style="width: 200px; margin-bottom: 150px;">
        </div>
      </div>
    </div>
  </div>
  </body>
    