.dashboard-card{
    height: 100px;
    width: 80%;
}
.mat-h1{
   margin: 20px;
}
.value{
    color: red;
}
.revanue{
    width: 500px;
    margin: 30px;
}
.dashboard-card:hover{
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.8);
  }
  