.div1{
    margin-left: 10%;
    width: 80%;
    background-color: rgb(211, 211, 211);
    padding-bottom: 30px;
}
.div2{
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    border: 1px solid rgb(187, 187, 187);
}
.div3{
    padding: 30px;
}
.img-size1{
    width: 400px;
    height: 400px;
}
.img-size2{
    width: 394px;
    height: 394px;
}

  
