.div1{
    margin-left: 10%;
    width: 80%;
    background-color: #ececec;
    padding-bottom: 30px;
}
.div3{
    padding: 30px;
}
.img-size1{
    width: 400px;
    height: 400px;
}
.img-size2{
    width: 394px;
    height: 394px;
}
h2{
    color: red;
}

.image-cropper
{
  width: 100%;
  cursor: move;
  color: green;
  //border: 2px solid red !important;
}
  
