<div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  <div class="rate-limit-reached" *ngIf="isRateLimitReached">
    Unknown Error
  </div>
</div>
<div class="container-fluid div1">
  <h2 class="div3">Edit Profile</h2>
  <div class="conntainer-fluid div2">
    <div class="container div3">
      <!-- image -->
      <form action="">
        <div class="" style="height: 300px; width: 400px; background-color: rgb(255, 255, 255);">
        <image-cropper [imageChangedEvent]="imageChangedEvent" (imageCropped)="imageCropped($event)"
          (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()" >
          <!-- <mat-spinner *ngIf="savingImage"></mat-spinner> -->
          <mat-progress-bar *ngIf="savingImage" mode="determinate" value="40"></mat-progress-bar>
        </image-cropper>
        <div *ngIf="hideImage" style="height: 250px; width: 400px;  background-image: url(../../assets/uploadImage.jpg);"></div>
      </div>
        <br>
        <input type="file" (click)="imageHiding()" (change)="fileChangeEvent($event)" />
        <br>
        <button class="btn btn-primary mt-2" type="submit" (click)="performUpload()">Submit image</button>
      </form>
      <br>
      <!-- Contact Details -->
      <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
        <mat-label class="mat-title">Contact Details</mat-label>
        <br>
        <mat-divider></mat-divider>
        <div class="row px-0 mt-4">
          <mat-form-field appearance="outline" class="col-6">
            <mat-label>Enter Contact Number</mat-label>
            <input matInput placeholder="contact person number" formControlName="contactNo">
            <mat-error *ngIf="editProfileForm.get('contactNo').touched && editProfileForm.get('contactNo').errors?.required">This field
              is required
          </mat-error>
          <mat-error
            *ngIf="editProfileForm.get('contactNo').touched && !editProfileForm.get('contactNo').errors?.required && editProfileForm.get('contactNo').errors?.pattern">
                Invalid input
          </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-6">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="Ex. abc@example.com" formControlName="email">
            <mat-error *ngIf="editProfileForm.get('email').touched && editProfileForm.get('email').errors?.required">This field
              is required
          </mat-error>
          <mat-error
            *ngIf="editProfileForm.get('email').touched && !editProfileForm.get('email').errors?.required && editProfileForm.get('email').errors?.pattern">
                Invalid input
          </mat-error>
          </mat-form-field>
        </div>
        <br>
        <button class="btn btn-primary mr-2" type="submit" [disabled]="!editProfileForm.valid">Submit</button>
        <button class="btn btn-danger" type="reset">Reset</button>
      </form>
      <!-- edit password -->
      <br>
      <mat-label class="mat-title">Change Password</mat-label>
      <br>
      <mat-divider></mat-divider>
      <br>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="mt-2">
              It's a good idea to use a strong password that you're not using elsewhere
            </mat-panel-title>
            <mat-panel-description>
              <button mat-stroked-button color="primary" class="">{{panelOpenState ? 'Close' : 'Edit'}}</button>
            </mat-panel-description>
          </mat-expansion-panel-header>
                <form [formGroup]="form">
                  <div class="row">
                  <mat-form-field appearance="outline" class="col-4">
                    <mat-label>Current Password</mat-label>
                    <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="current_password">
                    <mat-error *ngIf="f.current_password.touched && f.current_password.invalid">
                      <mat-error *ngIf="f.current_password.errors.required">Password is required.</mat-error>
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide1">
                      <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field appearance="outline" class="col-4">
                    <mat-label>New Password</mat-label>
                    <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="password">
                    <mat-error *ngIf="f.password.touched && f.password.invalid">
                      <mat-error *ngIf="f.password.errors.required">Password is required.</mat-error>
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide2">
                      <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <mat-error class="col-6"
                    *ngIf="form.get('password').touched && !form.get('password').errors?.required 
                    && form.get('password').errors?.pattern">
                        Password must be atleast 8 characters long and atleast contain one lowercase,
                        one uppercase, one number ane special character!
                  </mat-error>
                </div>
                <div class="row">
                  <mat-form-field appearance="outline" class="col-4">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="hide3 ? 'password' : 'text'" formControlName="confirm_password">
                    <mat-error *ngIf="f.confirm_password.touched && f.confirm_password.invalid">
                      <mat-error *ngIf="f.confirm_password.errors.required">Password is required.</mat-error>
                      <mat-error *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must
                        be match.</mat-error>
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide3">
                      <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                  <br>
                  <mat-error *ngIf="!matchCurrentPassword">Current password is incorrect</mat-error>
                  <br>
                  <button class="btn btn-primary" type="submit" (click)="SubmitPassword()"
                    [disabled]="!form.valid">Submit</button>
                </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>