<mat-card class="background-color">
  <mat-card-content>
    <strong>
      <h2 *ngIf="!edit">Add Frequency</h2>
    </strong>
    <strong>
      <h2 *ngIf="edit">Edit Frequency</h2>
    </strong>

    <form [formGroup]="frequencyAddForm">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Frequency</mat-label>
        <input matInput formControlName="frequency">
        <mat-error
          *ngIf="frequencyAddForm.get('frequency').touched && frequencyAddForm.get('frequency').hasError('required')">
          frequency is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-12 col-md-auto">
        <mat-label>Inactive</mat-label>
        <mat-select formControlName="active">
          <mat-option [value]=true>Active</mat-option>
          <mat-option [value]=false>Inactive</mat-option>
        </mat-select>
      </mat-form-field>

      <button type="submit" *ngIf="!edit" mat-flat-button color="primary" (click)="onSubmit()" [disabled]="dataSavingProgress">
        <span *ngIf="dataSavingProgress" class="spinner-border spinner-border-sm mr-1"></span>
        Create</button>

      <button *ngIf="edit" mat-flat-button type="submit" color="primary" (click)="onEdit()" [disabled]="dataSavingProgress">
        <span *ngIf="dataSavingProgress" class="spinner-border spinner-border-sm mr-1"></span>
        Edit</button>
    </form>
  </mat-card-content>
</mat-card>

<div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  <div class="rate-limit-reached" *ngIf="isRateLimitReached">
    {{errorMessage}}
  </div>
</div>

<div class="background-color">
  <div class="col-6 pt-2 pb-0 my-0 ">
    <strong>
      <h2>Frequency List</h2>
    </strong>
  </div>
  <div class="search-div" class="col-12 pt-2 pb-0 my-0">
    <mat-form-field class="example-form-field">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="w-100 px-3">
    <table mat-table [dataSource]="listData" matSort matSortDisableClear matSortActive="id" matSortDirection="asc"
      class="mat-elevation-z8, table table-striped table-hover">

      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef class="align-middle"> Frequency Id </th>
        <td mat-cell *matCellDef="let element" class="px-2" class="align-middle"> {{element.frequencyId}} </td>
      </ng-container>

      <ng-container matColumnDef="frequency">
        <th mat-header-cell mat-sort-header *matHeaderCellDef class="align-middle"> Frequency</th>
        <td mat-cell *matCellDef="let element" class="px-2" class="align-middle"> {{element.frequency}} </td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th mat-header-cell mat-sort-header *matHeaderCellDef class="align-middle"> Active </th>
        <td mat-cell *matCellDef="let element" class="px-2" class="align-middle"> {{(element.active)?"Active":"Inactive"}} </td>
      </ng-container>

      <ng-container matColumnDef="savedIp">
        <th mat-header-cell mat-sort-header *matHeaderCellDef class="align-middle" [hidden]="!isAuthorized"> Last Modified Ip </th>
        <td mat-cell *matCellDef="let element" class="px-2" [hidden]="!isAuthorized" class="align-middle"> {{element.savedIp}} </td>
      </ng-container>

      <ng-container matColumnDef="savedBy">
        <th mat-header-cell mat-sort-header *matHeaderCellDef class="align-middle" [hidden]="!isAuthorized"> saved By </th>
        <td mat-cell *matCellDef="let element" class="px-2" [hidden]="!isAuthorized" class="align-middle"> <a href="/userList">{{element.savedBy}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="savedOn">
        <th mat-header-cell mat-sort-header *matHeaderCellDef class="align-middle" [hidden]="!isAuthorized"> saved On </th>
        <td mat-cell *matCellDef="let element" class="px-2" [hidden]="!isAuthorized" class="align-middle"> {{element.savedOn | date: 'short'}} </td>
      </ng-container>

      <ng-container matColumnDef="lastModifiedBy">
        <th mat-header-cell mat-sort-header *matHeaderCellDef class="align-middle" [hidden]="!isAuthorized"> last Modified By </th>
        <td mat-cell *matCellDef="let element" class="px-2" [hidden]="!isAuthorized" class="align-middle"> <a href="/userList">{{element.lastModifiedBy}}</a></td>
      </ng-container>

      <ng-container matColumnDef="lastModifiedOn">
        <th mat-header-cell mat-sort-header *matHeaderCellDef class="align-middle" [hidden]="!isAuthorized"> last Modified On </th>
        <td mat-cell *matCellDef="let element" class="px-2" [hidden]="!isAuthorized" class="align-middle"> {{element.lastModifiedOn | date: 'short'}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell mat-sort-header *matHeaderCellDef class="align-middle"> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editFrequencyList(element)" title="Edit" class="align-middle">
            <mat-icon>create</mat-icon>
          </button>
          <button mat-icon-button color="accent" mwlConfirmationPopover [popoverTitle]="popoverTitle"
            [popoverMessage]="popoverMessage" placement="left" (confirm)="deleteFrequencyList(element.frequencyId)"
            (cancel)="cancelClicked = true" title="Delete" class="align-middle">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row class="p-3 mb-2 bg-primary text-white" *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="font-italic d-flex justify-content-center" *ngIf="isLoadingResults">
      Loading data...
    </div>
    <div class="font-italic d-flex justify-content-center"
      *ngIf="!isLoadingResults && !isRateLimitReached && !resultsLength"></div>

    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>