
<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === true"
      [hidden]="!_authentication.loggedIn()"
      >
    <mat-toolbar ><img class="img-responsive" src="assets/epic.png" style="width: 80px; margin-left: 30px;"></mat-toolbar>
    <mat-nav-list >
      <a mat-list-item [routerLink]="" (click)="dashboardcheck()" ><mat-icon>home</mat-icon><span class="button-text">Home</span></a>     
      <a mat-list-item [matMenuTriggerFor]="payment">
        <mat-icon >payment</mat-icon><span class="button-text">Payment</span>
         <mat-menu #payment="matMenu">
            <button mat-menu-item [routerLink]="['createReceipt']">New Receipt</button>
            <button mat-menu-item [routerLink]="['invoicelist']" *ngIf="_authentication.role === 'ROLE_ADMIN'" >Proforma Invoice</button>
            <button mat-menu-item [routerLink]="['dueinvoice']">Due Invoice</button>
            <button mat-menu-item [routerLink]="['taxlist']" *ngIf="_authentication.role === 'ROLE_ADMIN'">Tax</button>
            <button mat-menu-item [routerLink]="['currencylist']">Currency</button>
            <button mat-menu-item [routerLink]="['paymentHlist']">Payment History</button>
            <button mat-menu-item [routerLink]="['duepayment']">Due Payment</button>
         </mat-menu>
      </a>  
      <a mat-list-item [matMenuTriggerFor]="Reports">
        <mat-icon>article</mat-icon> <span class="button-text">Reports</span>
           <mat-menu #Reports="matMenu">
            <button mat-menu-item  (click)="AllAMCDetailsFilter()" *ngIf="_authentication.role === 'ROLE_ADMIN'">All AMC</button>
            <button mat-menu-item  (click)="ClientsDetailsFilter()" *ngIf="_authentication.role === 'ROLE_ADMIN'">All client details</button>
            <button mat-menu-item  (click)="RenewalAmcsFilter()" *ngIf="_authentication.role === 'ROLE_ADMIN'">Renewal AMCs</button>
            <button mat-menu-item  (click)="RenewedAmcsFilter()" *ngIf="_authentication.role === 'ROLE_ADMIN'">Renewed AMCs</button>
            <button mat-menu-item  (click)="ExpiredAmcsFilter()" *ngIf="_authentication.role === 'ROLE_ADMIN'">Expired AMCs</button>
            <button mat-menu-item  (click)="PaymentReportFilter()" *ngIf="_authentication.role === 'ROLE_ADMIN'">Payment Reports</button>    
            <button mat-menu-item  (click)="PaymentReportFilter()">Payment Reports</button>
            <button mat-menu-item  (click)="PaymentReportFilter()">AMC Reports</button>
            <button mat-menu-item *ngIf="_authentication.role === 'ROLE_ADMIN'" >Quater Wise revenue</button>
            <button mat-menu-item (click)="FullDetailsFilter()" *ngIf="_authentication.role === 'ROLE_ADMIN'">Full Details Report</button>
           </mat-menu>
      </a> 
      <a mat-list-item [matMenuTriggerFor]="AMC" *ngIf="_authentication.role === 'ROLE_ADMIN'">
        <mat-icon>assignment</mat-icon> <span class="button-text">AMC</span>
          <mat-menu #AMC="matMenu">
            <button mat-menu-item [routerLink]="['client/new']" *ngIf="_authentication.role === 'ROLE_ADMIN'">Create New AMC </button>
            <button mat-menu-item [routerLink]="['client-list']" *ngIf="_authentication.role === 'ROLE_ADMIN'">AMC Renew</button>
            <button mat-menu-item [routerLink]="['list']" *ngIf="_authentication.role === 'ROLE_ADMIN'">Category</button>
            <button mat-menu-item [routerLink]="['frequency']" *ngIf="_authentication.role === 'ROLE_ADMIN'">Frequency</button>
          </mat-menu>
      </a>     
      <a mat-list-item [routerLink]="['productlist']" *ngIf="_authentication.role === 'ROLE_ADMIN'"><mat-icon>store</mat-icon><span class="button-text">Product</span>
      </a>         
      <a mat-list-item [matMenuTriggerFor]="client">
        <mat-icon>supervisor_account</mat-icon><span class="button-text">Users</span>
          <mat-menu #client="matMenu">
            <button mat-menu-item [routerLink]="['user']" *ngIf="_authentication.role === 'ROLE_ADMIN'">New User</button>
            <button mat-menu-item [routerLink]="['client-list']" *ngIf="_authentication.role === 'ROLE_ADMIN'" >Clients</button>
            <button mat-menu-item [routerLink]="['client/new']" *ngIf="_authentication.role === 'ROLE_ADMIN'">New client</button>
          </mat-menu>
      </a> 
      <a mat-list-item (click)="profilepage()" ><mat-icon>settings</mat-icon><span class="button-text">Setting</span>
      </a>      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="bg-primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"     
        *ngIf="_authentication.loggedIn()" >
        <mat-icon aria-label="Side nav toggle icon" style="-webkit-text-fill-color:rgb(255, 255, 255)">menu</mat-icon>
      </button>
      <span class="text-white">Annual Maintenance Contract</span>   
      <span class="example-spacer"></span>
      <button  mat-button  *ngIf="!_authentication.loggedIn()" (click)="gotolog()">
        <span style="-webkit-text-fill-color:rgb(255, 255, 255)">Login</span>
      </button> 
      <img class="avatar" alt="image" src="{{imageSrc}}" *ngIf="_authentication.loggedIn()">
      <button  mat-button [matMenuTriggerFor]="profile" *ngIf="_authentication.loggedIn()">
       <span class="button-text" style="-webkit-text-fill-color:rgb(255, 255, 255)">{{ _authentication.name }}</span>
      </button>      
         <mat-menu #profile="matMenu">
            <button mat-menu-item (click) = "profilepage()" >Profile</button>
            <button mat-menu-item (click) = "logout()">Log Out</button> 
         </mat-menu>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
