<div class="container-fluid div1">
  <h2 class="div3">Profile</h2>
  <div class="conntainer-fluid div2">
    <div class="container div3">
      <div class="container" id="div1">
        <table>
          <tr>
            <td rowspan="8" style="width: 400px;"><img src="{{imageSrc}}" alt="image" class="middle rounded-circle img-thumbnail img"></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr style="height: 10px;">
            <td><h1>{{users.uname}}</h1></td>
          </tr>
          <tr style="height: 20px;">
            <td ><h2>ID : {{users.userId}}</h2></td>
          </tr>
          
          <tr>
            <td><h4>Contact No : {{users.contactNo}}</h4> </td>
          </tr>
          <tr>
            <td><h4>Email : {{users.email}}</h4></td>
          </tr>
          <tr>
            <td><button (click)="editprofile(users.userId)" class="btn btn-primary">Edit Profile</button></td>
          </tr>
        </table>
        <br>
        
      </div>
    </div>
  </div>
</div>