<div class="container-md mb-4">
    
    <div class="jumbotron mb-3">
        <h3>Add Receipt</h3>
    </div>
    <br>
    <div class="card background-color">
      
            <div class="d-flex flex-row-reverse my-0 py-3 pr-2">  
            <button  mat-raised-button class="btn btn-primary mr-2" (click)="goTopaymentlist()" >History</button>
            </div>
        
        <div class="container pt-3">
            <h6>Receipt Details</h6>
            <mat-divider class="mat-divider"></mat-divider>
            <br/>
            <form [formGroup]="addReceiptForm" (ngSubmit)="onSubmit()">
                <div class="row px-0">
                    <mat-form-field appearance="outline" class="col-6">
                      <mat-label>recNo:</mat-label>
                      <input type="text" matInput formControlName="recNo" >   
                    </mat-form-field>             
                      <mat-form-field appearance="outline"  class="col pl-2">
                        <mat-label>recDate</mat-label>
                        <input matInput formControlName="recDate" [matDatepicker]="start_date" />
                        <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                        <mat-datepicker #start_date></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="row px-0">
                    <mat-form-field appearance="outline" class="col-6">
                      <mat-label>exchageRate:</mat-label>
                      <input type="number" matInput formControlName="exchageRate" >   
                    </mat-form-field>             
                    <mat-form-field appearance="outline" class="col pl-2">
                        <mat-label>description:</mat-label>
                        <input type="text" matInput formControlName="description">   
                      </mat-form-field>
                  </div>
                  <br>
                  <div class="row px-0">
                    <mat-form-field appearance="outline" class="col-4">
                      <mat-label>paymode:</mat-label>
                      <input type="text" matInput formControlName="payMode">   
                    </mat-form-field>             
                    <mat-form-field appearance="outline" class="col pl-2">
                        <mat-label>total:</mat-label>
                        <input type="number" matInput formControlName="total" >   
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col pl-2">
                        <mat-label>balance:</mat-label>
                        <input type="number" matInput formControlName="balance" >   
                    </mat-form-field>                   
                  </div>
                  <br>
                  <div class="row px-0">
                    <mat-form-field appearance="outline" class="col-6">
                      <mat-label>totalLkr:</mat-label>
                      <input type="text" matInput formControlName="totalLkr" >   
                    </mat-form-field>             
                    <mat-form-field appearance="outline" class="col pl-2">
                        <mat-label>balanceLkr:</mat-label>
                        <input type="number" matInput formControlName="balanceLkr" >   
                    </mat-form-field>                  
                  </div>
                  <div class="row px-0">
                    <mat-checkbox formControlName="cancel" class="col-md-4" (click)="Showtoggle()">cancel or not</mat-checkbox>                 
                    <mat-form-field *ngIf="showme" class="col-md-8">
                    <mat-label>cancel reason</mat-label>
                    <input matInput formControlName="cancelReason">
                  </mat-form-field>
                  </div>
                  <br>
                  <h6>Other Details</h6>
                 <!--  details for joined tables -->
                  <mat-divider class="mat-divider"></mat-divider>
                  <br />
                  <div class="row px-0">
                    <div formGroupName="amcMaster">
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>
                          AMC number:  </mat-label>
                          <input type="text" matInput formControlName="amcNo" > 
                       </mat-form-field> 
                      </div>  
                  <div formGroupName="currency">        
                    <mat-form-field appearance="outline" class="col pl-2">
                        <mat-label>currencyId:</mat-label>
                        <input type="number" matInput formControlName="currencyId" >   
                    </mat-form-field>
                  </div>
                  <div formGroupName="clientDepartment">
                    <mat-form-field appearance="outline" class="col pl-3">
                        <mat-label>deptId:</mat-label>
                        <input type="number" matInput formControlName="deptId" >   
                    </mat-form-field> 
                  </div>                  
                  </div>
                  <div class="row px-0">
                    <div formGroupName="category">
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label> categoryId</mat-label>
                      <input type="text" matInput formControlName="categoryId">   
                    </mat-form-field> 
                  </div> 
                  <div formGroupName="invoice">          
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label> piNo:</mat-label>
                        <input type="number" matInput formControlName="piNo" >   
                    </mat-form-field>  
                  </div>          
                  </div>
                  <div class="d-flex flex-row-reverse my-0">
                    <button class="btn btn-success mb-3" type="submit">submit</button>
                   </div>
            </form>
        </div>    
    </div>
</div>    
