
<div class="w-100 px-3">
  <br>
  <h2>Your payment details</h2>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <div class="d-flex flex-row-reverse clo-6 my-0 pr-2">
  <table mat-table class="mat-elevation-z8, table table-striped table-hover" matSort [dataSource]="clientdetails">
    <ng-container matColumnDef="recNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-middle">recNo</th>
      <td mat-cell *matCellDef="let element" class="align-middle">{{element.recNo}}</td>
    </ng-container>     
    <ng-container matColumnDef="recDate" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-middle">recDate</th>
      <td mat-cell *matCellDef="let element" class="align-middle">{{element.recDate}}</td>
    </ng-container>
    <ng-container matColumnDef="payMode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-middle">payMode</th>
      <td mat-cell *matCellDef="let element" class="align-middle">{{element.payMode}}</td>
    </ng-container>
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef class="align-middle">balance</th>
      <td mat-cell *matCellDef="let element" class="align-middle">{{element.balance}}</td>
    </ng-container>
    <ng-container matColumnDef="Category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-middle">Category</th>
      <td mat-cell *matCellDef="let element" class="align-middle">{{element.Category}}</td>
    </ng-container>
    <ng-container matColumnDef="pi_no">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-middle">pi_no</th>
      <td mat-cell *matCellDef="let element" class="align-middle">{{element.pi_no}}</td>
    </ng-container>
    <tr mat-header-row class="p-3 mb-2 bg-primary text-white"  *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>  
</div>
    
      
    