
  <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="rate-limit-reached" *ngIf="isRateLimitReached">
        {{errorMessage}}
    </div>
</div>

<div class="background-color">
    <div class="col-6 pt-2 pb-0 my-0 ">
        <h2> Login Details </h2>
    </div>
    <div class="d-flex flex-row-reverse my-0 py-3 pr-2">
    </div>
    <mat-form-field class="px-3">
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex.Epic Lanka" #input>
  </mat-form-field>
    <div class="w-100 px-3">
      <table mat-table [dataSource]="loginDetails | tableFiter: filterValue" matSort matSortDisableClear
      matSortActive="loged_datetime" matSortDirection="desc" class="mat-elevation-z8, table table-striped table-hover">
          <ng-container matColumnDef="user_id">
            <th mat-header-cell *matHeaderCellDef class="align-middle">User Id</th>
            <td mat-cell *matCellDef="let element" class="align-middle"> {{element.user_id}} </td>
          </ng-container>
          <ng-container matColumnDef="uname">
            <th mat-header-cell *matHeaderCellDef class="align-middle">User Name</th>
            <td mat-cell *matCellDef="let element" class="align-middle"> {{element.uname}} </td>
          </ng-container>
          <ng-container matColumnDef="loged_ip">
            <th mat-header-cell *matHeaderCellDef class="align-middle">Loged ip</th>
            <td mat-cell *matCellDef="let element" class="align-middle"> {{element.loged_ip}} </td>
          </ng-container>
          <ng-container matColumnDef="loged_datetime">
            <th mat-header-cell *matHeaderCellDef class="align-middle">Loged Date & Time</th>
            <td mat-cell *matCellDef="let element" class="align-middle" > {{element.loged_datetime | date: 'short'}} </td>
          </ng-container>
          <ng-container matColumnDef="logout_ip">
            <th mat-header-cell *matHeaderCellDef class="align-middle">Logout ip</th>
            <td mat-cell *matCellDef="let element" class="align-middle" > {{element.logout_ip}} </td>
          </ng-container>
          <ng-container matColumnDef="logout_datetime">
            <th mat-header-cell *matHeaderCellDef class="align-middle">Logout Date & Time</th>
            <td mat-cell *matCellDef="let element" class="align-middle" > {{element.logout_datetime | date: 'short'}} </td>   
        </ng-container>
          <tr mat-header-row class="p-3 mb-2 bg-primary text-white align-middle" *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow >
            <td *ngIf="resultsLength" class="mat-cell w-100" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
        <div class="font-italic d-flex justify-content-center" *ngIf="isLoadingResults">
            Loading data...
        </div>
        <div class="font-italic d-flex justify-content-center" *ngIf="!isLoadingResults && !isRateLimitReached && !resultsLength">
            No data
        </div>
        <mat-paginator class="text-primary" [length]="resultsLength" [pageSize]="pagesize" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>