<!-- <mat-checkbox>Check me!</mat-checkbox>
<mat-radio-group> <mat-radio-button value="1">Male</mat-radio-button> <mat-radio-button value="2">Female</mat-radio-button> </mat-radio-group>
<mat-form-field class="col-12"> <input matInput placeholder="Name" value="Tudip"> </mat-form-field>
<button mat-raised-button class="btn btn-primary">Click Me</button>
<div class="container">
  <h2>Button</h2>
  <p>The .btn-success class indicates a successful or positive action:</p>      
  <button type="button" class="btn btn-success">Success</button>
</div> -->
<router-outlet></router-outlet>
