 
 <div class="container-md mb-4">
  <div class="jumbotron mb-3">
     <h3>Add New Tax</h3>
 </div>
 <br> 
<div class=" container pt-3 card  background-color">
<form [formGroup]="addtaxForm" (ngSubmit)="onSubmit()">
  <div class="row px-0">
    <mat-form-field appearance="outline" class="col-6">
      <mat-label>Tax Name:</mat-label>
      <input type="text" matInput formControlName="taxName" [(ngModel)]="tax.taxName">  
      <mat-error *ngIf="!addtaxForm.controls['taxName'].valid">
        Tax Name required
         </mat-error> 
    </mat-form-field>
  </div>
  <mat-divider class="mat-divider"></mat-divider>
  <br>
  <div class="row px-0">
    <mat-form-field appearance="outline" class="col pr-2">
    <mat-label>
      Tax Short Name:  </mat-label>
      <input type="text" matInput formControlName="shortName" [(ngModel)]="tax.shortName"> 
      <mat-error *ngIf="!addtaxForm.controls['shortName'].valid">
        Short Name required
         </mat-error> 
   </mat-form-field>

    <mat-form-field appearance="outline" class="col pl-2">
       <mat-label>
        Tax Rate:</mat-label>
        <input type="number" matInput formControlName="taxRate" [(ngModel)]="tax.taxRate">  
        <mat-error *ngIf="!addtaxForm.controls['taxRate'].valid">
          less than 999
        </mat-error>   
    </mat-form-field>     
   </div> 
   <div class="row px-0">
    <mat-checkbox formControlName="active" class="col-md-4" [(ngModel)]="tax.active" >Active Tax</mat-checkbox>
   </div>
   <div class="d-flex flex-row-reverse my-0">
    <button class="btn btn-success mb-3" type="submit">submit</button>
   </div>
  </form>
</div>
</div>