.example-card {
    height: 400px;
    width: 700px;
    border-radius: 5px;
    background: transparent;
    align-items: center;
    margin-top: 60px;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }