h2 {
  color: red;
}
.amc-grid {
    margin-bottom: 40px;
}
mat-form-field{
  color: darkred
}
mat-form-field :disabled, textarea{
  color: red
}
mat-label{
  color: blue;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }

  .error-message{
    background: red;
    color: white;
  }