<div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="rate-limit-reached" *ngIf="isRateLimitReached">
        {{errorMessage}}
    </div>
</div>
<div *ngIf="!isLoadingResults && !isRateLimitReached" class="container-xl background-color">
    <div class="col-6 pt-2 pb-3 my-0 ">
        <h3 class="mar-h1 text-primary"><i>Renew AMC - {{ clientName }} <br /> Department {{ data.department_name }}</i>
        </h3>
    </div>
    <form [formGroup]="amcFullDataForm">
        <div class="row no-gutters">
            <div formGroupName="amcMaster" class="col-md-6 no-gutters amc-grid">
                <h6 class="ml-2">AMC General Details</h6>
                <mat-divider class="mat-divider"></mat-divider>
                <br />
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Amc No</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="text" matInput formControlName="amcNo" class="no-lable">
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Status</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="text" matInput formControlName="active" class="no-lable">
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Start Date</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input matInput formControlName="startDate" [matDatepicker]="start_date" />
                        <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                        <mat-datepicker #start_date></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Categpry</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="text" matInput formControlName="categoryName">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Frequency</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="text" matInput formControlName="frequency">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>

                <div class="row px-0 m-0">
                    <mat-label class="col-12">Currency</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="text" matInput formControlName="currencyName">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Exchange Rate</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="exchangeRate">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Total Value</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="totalValue">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Total Value (LKR)</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="totalValueLkr">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 mt-2 m-0">
                    <mat-label class="col-12">Remark</mat-label>
                    <textarea formControlName="remark" rows=5 class="col-6 background-color"></textarea>
                </div>
                <div class="row px-0 mt-2 m-0">
                    <mat-label class="col-12">Invoice Description</mat-label>
                    <textarea formControlName="invDesc" rows=5 class="col-6 background-color">}</textarea>
                </div>
            </div>
            <div class="col-md-6 no-gutters amc-grid">
                <h6 class="ml-2">AMC Maintenance Details</h6>
                <mat-divider class="mat-divider"></mat-divider>
                <br />
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Start Date</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input matInput formControlName="mtcStartDate" [matDatepicker]="mtc_start_date" />
                        <mat-datepicker-toggle matSuffix [for]="mtc_start_date"></mat-datepicker-toggle>
                        <mat-datepicker #mtc_start_date></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc End Date</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input matInput formControlName="mtcEndDate" [matDatepicker]="mtc_end_date" />
                        <mat-datepicker-toggle matSuffix [for]="mtc_end_date"></mat-datepicker-toggle>
                        <mat-datepicker #mtc_end_date></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Renewal Date</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input matInput formControlName="renewalDate" [matDatepicker]="renewal_date" />
                        <mat-datepicker-toggle matSuffix [for]="renewal_date"></mat-datepicker-toggle>
                        <mat-datepicker #renewal_date></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Quantity</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="mtcQty">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Amount For Given Annum</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input id="mtcAmtPerAnnum" (change)="calculateLkr($event)" type="number" matInput formControlName="mtcAmtPerAnnum">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Amount For Given Annum (LKR)</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="mtcAmtPerAnnumLkr">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Amount Per Product</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input id="mtcAmtPerProduct" (change)="calculateLkr($event)" type="number" matInput formControlName="mtcAmtPerProduct">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Amount Per Product (LKR)</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="mtcAmtPerProductLkr">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Amount For Given Frequency</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input id="mtcAmtforfrequency" (change)="calculateLkr($event)" type="number" matInput formControlName="mtcAmtforfrequency">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Amount For Given Frequency (LKR)</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="mtcAmtforfrequencyLkr">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Amount For Given Frequency Per Item</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input id="mtcAmtforfrequencyPerItem" (change)="calculateLkr($event)" type="number" matInput formControlName="mtcAmtforfrequencyPerItem">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Amount For Given Frequency Per Item (LKR)</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="mtcAmtforfrequencyPerItemLkr">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 mt-2 m-0">
                    <mat-label class="col-12">Remark</mat-label>
                    <textarea formControlName="remark" rows=3 class="col-8 background-color"></textarea>
                </div>
            </div>

        </div>
        <div class="row no-gutters">
            <div formGroupName="amcProduct" class="col-md-6 no-gutters amc-grid">
                <h6 class="ml-2">AMC Product Details</h6>
                <mat-divider class="mat-divider"></mat-divider>
                <br />
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Product Name</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="text" matInput formControlName="productName">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Life Start Date</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input matInput formControlName="lifeStartDate" [matDatepicker]="life_start_date" />
                        <mat-datepicker-toggle matSuffix [for]="life_start_date"></mat-datepicker-toggle>
                        <mat-datepicker #life_start_date></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Life End Date</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input matInput formControlName="lifeEndDate" [matDatepicker]="life_end_date" />
                        <mat-datepicker-toggle matSuffix [for]="life_end_date"></mat-datepicker-toggle>
                        <mat-datepicker #life_end_date></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Price</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="price">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Quantity</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="quantity">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Sales Revenue</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="totalValue">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Sales Revenue (LKR)</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="totalValueLkr">
                        <!-- <mat-error *ngIf="contactPerson.touched && contactPerson.errors?.required">This field is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="row px-0 mt-2 m-0">
                    <mat-label class="col-12">Product Description</mat-label>
                    <textarea formControlName="productDescription" rows=3 class="col-8 background-color"></textarea>
                </div>
            </div>
            <div class="col-md-6 no-gutters">
                <h6 class="ml-2">Scanned Copy of Contract</h6>
                <mat-divider class="mat-divider"></mat-divider>
                <br />
                <div>
                    <input type="file" (change)="onFileChanged($event)">
                </div>
            </div>
        </div>
        <div class="d-flex flex-row-reverse my-0 pb-4">
            <button (click)="submitForm()" type="submit" mat-raised-button
                color="primary" class="ml-1">
                <span *ngIf="registerStudentProgress" class="spinner-border spinner-border-sm mr-1"></span>
                Renew
            </button>
        </div>
    </form>
</div>