<div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="rate-limit-reached" *ngIf="isRateLimitReached">
        {{errorMessage}}
    </div>
</div>
<div *ngIf="!isLoadingResults && !isRateLimitReached" class="container-xl background-color">
    <div class="col-6 pt-2 pb-3 my-0 ">
        <h2 class="mar-h1"><i>Renew AMC - {{ clientName }} <br /> Department {{ data.department_name }}</i>
        </h2>
    </div>
    <form [formGroup]="amcFullDataForm">
        <div class="row no-gutters">
            <div formGroupName="amcMaster" class="col-md-6 no-gutters amc-grid">
                <h4 class="ml-2 text-primary">AMC General Details</h4>
                <mat-divider class="mat-divider"></mat-divider>
                <br />
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Amc No</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="text" matInput formControlName="amcNo" class="no-lable">
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Status</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="text" matInput formControlName="active" class="no-lable">
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Start Date</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input matInput formControlName="startDate" [matDatepicker]="start_date" />
                        <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                        <mat-datepicker #start_date></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Categpry</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="text" matInput formControlName="categoryName">
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Frequency</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <mat-select formControlName="frequency" [value]="data.frequency">
                            <mat-option *ngFor="let frequency of frequencyList" [value]="frequency.frequency">
                                {{frequency.frequency}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="frequency.touched && frequency.errors?.required">This field is required
                        </mat-error>
                    </mat-form-field>

                </div>

                <div class="row px-0 m-0">
                    <mat-label class="col-12">Currency</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="text" matInput formControlName="currencyName">
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Exchange Rate</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="exchangeRate">
                    </mat-form-field>
                    <mat-error class="col-6" *ngIf="exchangeRate.errors?.required">This field is required
                    </mat-error>
                    <mat-error class="col-6" *ngIf="!exchangeRate.errors?.required && exchangeRate.errors?.pattern">Must
                        be a positive number with maximum 3 intregal and 2 fractional digits
                    </mat-error>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Total Value</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="totalValue">
                    </mat-form-field>
                    <mat-error class="col-6" *ngIf="totalValue.touched && totalValue.errors?.required">This field is
                        required
                    </mat-error>
                    <mat-error class="col-6" *ngIf="!totalValue.errors?.required && totalValue.errors?.pattern">
                        Must be a positive number with maximum 2 fractional digits
                    </mat-error>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Total Value (LKR)</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="totalValueLkr">
                    </mat-form-field>
                    <mat-error class="col-6" *ngIf="totalValueLkr.touched && totalValueLkr.errors?.required">This field
                        is
                        required
                    </mat-error>
                    <mat-error class="col-6" *ngIf="!totalValueLkr.errors?.required && totalValueLkr.errors?.pattern">
                        Must be a positive number with maximum 2 fractional digits
                    </mat-error>
                </div>
                <div class="row px-0 mt-2 m-0">
                    <mat-label class="col-12">Remark</mat-label>
                    <textarea formControlName="remark" rows=5 class="col-6 background-color"></textarea>
                </div>
                <div class="row px-0 mt-2 m-0">
                    <mat-label class="col-12">Invoice Description</mat-label>
                    <textarea formControlName="invDesc" rows=5 class="col-6 background-color">}</textarea>
                </div>
            </div>
            <div class="col-md-6 no-gutters amc-grid">
                <h4 class="ml-2 text-primary">AMC Maintenance Details</h4>
                <mat-divider class="mat-divider"></mat-divider>
                <br />
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Start Date</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input matInput formControlName="mtcStartDate" [matDatepicker]="mtc_start_date" />
                        <mat-datepicker-toggle matSuffix [for]="mtc_start_date"></mat-datepicker-toggle>
                        <mat-datepicker #mtc_start_date></mat-datepicker>
                    </mat-form-field>
                    <mat-error class="col-6" *ngIf="mtcStartDate.touched && mtcStartDate.errors?.required">This field is
                        required
                    </mat-error>
                    <mat-error class="col-6" *ngIf="!mtcStartDate.errors?.required && mtcStartDate.errors?.invalidDate">
                        Inconsistency between this date and mtc end date
                    </mat-error>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc End Date</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input matInput formControlName="mtcEndDate" [matDatepicker]="mtc_end_date" />
                        <mat-datepicker-toggle matSuffix [for]="mtc_end_date"></mat-datepicker-toggle>
                        <mat-datepicker #mtc_end_date></mat-datepicker>
                    </mat-form-field>
                    <mat-error class="col-6" *ngIf="mtcEndDate.touched && mtcEndDate.errors?.required">This field is
                        required
                    </mat-error>
                    <mat-error class="col-6" *ngIf="!mtcEndDate.errors?.required && mtcStartDate.errors?.invalidDate">
                        Inconsistency between this date and mtc start date
                    </mat-error>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Renewal Date</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input matInput formControlName="renewalDate" [matDatepicker]="renewal_date" />
                        <mat-datepicker-toggle matSuffix [for]="renewal_date"></mat-datepicker-toggle>
                        <mat-datepicker #renewal_date></mat-datepicker>
                    </mat-form-field>
                    <mat-error class="col-6" *ngIf="renewalDate.touched && renewalDate.errors?.required">This field is
                        required
                    </mat-error>
                    <mat-error class="col-6" *ngIf="!renewalDate.errors?.required && renewalDate.errors?.invalidDate">
                        Inconsistency between this date and mtc end date
                    </mat-error>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Quantity</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="mtcQty">
                    </mat-form-field>
                    <mat-error class="col-6" *ngIf="mtcQty.touched && mtcQty.errors?.required">This field is required
                    </mat-error>
                    <mat-error class="col-6" *ngIf="!mtcQty.errors?.required && mtcQty.errors?.pattern">
                        Must be a positive number less than 100
                    </mat-error>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Amount For Given Annum</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input id="mtcAmtPerAnnum" (change)="calculateLkr($event)" type="number" matInput
                            formControlName="mtcAmtPerAnnum">
                    </mat-form-field>
                    <mat-error class="col-6" *ngIf="mtcAmtPerAnnum.touched && mtcAmtPerAnnum.errors?.required">This
                        field is required
                    </mat-error>
                    <mat-error class="col-6" *ngIf="!mtcAmtPerAnnum.errors?.required && mtcAmtPerAnnum.errors?.pattern">
                        Must be a positive number with maximum 2 fractional digits
                    </mat-error>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Amount For Given Annum (LKR)</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="mtcAmtPerAnnumLkr">
                    </mat-form-field>
                    <mat-error class="col-6" *ngIf="mtcAmtPerAnnumLkr.touched && mtcAmtPerAnnumLkr.errors?.required">
                        This field is
                        required
                    </mat-error>
                    <mat-error class="col-6"
                        *ngIf="!mtcAmtPerAnnumLkr.errors?.required && mtcAmtPerAnnumLkr.errors?.pattern">
                        Must be a positive number with maximum 2 fractional digits
                    </mat-error>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Amount Per Product</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input id="mtcAmtPerProduct" (change)="calculateLkr($event)" type="number" matInput
                            formControlName="mtcAmtPerProduct">
                    </mat-form-field>
                    <mat-error class="col-6" *ngIf="mtcAmtPerProduct.touched && mtcAmtPerProduct.errors?.required">
                        This field is required
                    </mat-error>
                    <mat-error class="col-6"
                        *ngIf="!mtcAmtPerProduct.errors?.required && mtcAmtPerProduct.errors?.pattern">
                        Must be a positive number with maximum 2 fractional digits
                    </mat-error>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Amount Per Product (LKR)</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="mtcAmtPerProductLkr">
                    </mat-form-field>
                    <mat-error class="col-6"
                        *ngIf="mtcAmtPerProductLkr.touched && mtcAmtPerProductLkr.errors?.required">This
                        field is required
                    </mat-error>
                    <mat-error class="col-6"
                        *ngIf="!mtcAmtPerProductLkr.errors?.required && mtcAmtPerProductLkr.errors?.pattern">
                        Must be a positive number with maximum 2 fractional digits
                    </mat-error>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Amount For Given Frequency</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input id="mtcAmtforfrequency" (change)="calculateLkr($event)" type="number" matInput
                            formControlName="mtcAmtforfrequency">
                    </mat-form-field>
                    <mat-error class="col-6" *ngIf="mtcAmtforfrequency.touched && mtcAmtforfrequency.errors?.required">
                        This field is required
                    </mat-error>
                    <mat-error class="col-6"
                        *ngIf="!mtcAmtforfrequency.errors?.required && mtcAmtforfrequency.errors?.pattern">
                        Must be a positive number with maximum 2 fractional digits
                    </mat-error>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Amount For Given Frequency (LKR)</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="mtcAmtforfrequencyLkr">
                    </mat-form-field>
                    <mat-error class="col-6"
                        *ngIf="mtcAmtforfrequencyLkr.touched && mtcAmtforfrequencyLkr.errors?.required">This
                        field is required
                    </mat-error>
                    <mat-error class="col-6"
                        *ngIf="!mtcAmtforfrequencyLkr.errors?.required && mtcAmtforfrequencyLkr.errors?.pattern">
                        Must be a positive number with maximum 2 fractional digits
                    </mat-error>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Amount For Given Frequency Per Item</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input id="mtcAmtforfrequencyPerItem" (change)="calculateLkr($event)" type="number" matInput
                            formControlName="mtcAmtforfrequencyPerItem">
                    </mat-form-field>
                    <mat-error class="col-6"
                        *ngIf="mtcAmtforfrequencyPerItem.touched && mtcAmtforfrequencyPerItem.errors?.required">This
                        field is required
                    </mat-error>
                    <mat-error class="col-6"
                        *ngIf="!mtcAmtforfrequencyPerItem.errors?.required && mtcAmtforfrequencyPerItem.errors?.pattern">
                        Must be a positive number with maximum 2 fractional digits
                    </mat-error>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Mtc Amount For Given Frequency Per Item (LKR)</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="mtcAmtforfrequencyPerItemLkr">
                    </mat-form-field>
                    <mat-error class="col-6"
                        *ngIf="mtcAmtforfrequencyPerItemLkr.touched && mtcAmtforfrequencyPerItemLkr.errors?.required">
                        This field is required
                    </mat-error>
                    <mat-error class="col-6"
                        *ngIf="!mtcAmtforfrequencyPerItemLkr.errors?.required && mtcAmtforfrequencyPerItemLkr.errors?.pattern">
                        Must be a positive number with maximum 2 fractional digits
                    </mat-error>
                </div>
                <div class="row px-0 mt-2 m-0">
                    <mat-label class="col-12">Remark</mat-label>
                    <textarea formControlName="remark" rows=3 class="col-8 background-color"></textarea>
                    <mat-error *ngIf="remark.touched && remark.errors?.required">This field is required
                    </mat-error>
                </div>
            </div>

        </div>
        <div class="row no-gutters">
            <div formGroupName="amcProduct" class="col-md-6 no-gutters amc-grid">
                <h4 class="ml-2 text-primary">AMC Product Details</h4>
                <mat-divider class="mat-divider"></mat-divider>
                <br />
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Product Name</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="text" matInput formControlName="productName">
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Life Start Date</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input matInput formControlName="lifeStartDate" [matDatepicker]="life_start_date" />
                        <mat-datepicker-toggle matSuffix [for]="life_start_date"></mat-datepicker-toggle>
                        <mat-datepicker #life_start_date></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Life End Date</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input matInput formControlName="lifeEndDate" [matDatepicker]="life_end_date" />
                        <mat-datepicker-toggle matSuffix [for]="life_end_date"></mat-datepicker-toggle>
                        <mat-datepicker #life_end_date></mat-datepicker>
                    </mat-form-field>
                    <mat-error class="col-6" *ngIf="lifeEndDate.touched && lifeEndDate.errors?.required">This field is
                        required
                    </mat-error>
                    <mat-error class="col-6" *ngIf="!lifeEndDate.errors?.required && lifeEndDate.errors?.invalidDate">
                        Inconsistency between this date and life start date
                    </mat-error>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Price</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="price">
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Quantity</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="quantity">
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Sales Revenue</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="totalValue">
                    </mat-form-field>
                </div>
                <div class="row px-0 m-0">
                    <mat-label class="col-12">Sales Revenue (LKR)</mat-label>
                    <mat-form-field appearance="fill" class="col-6">
                        <input type="number" matInput formControlName="totalValueLkr">
                    </mat-form-field>
                </div>
                <div class="row px-0 mt-2 m-0">
                    <mat-label class="col-12">Product Description</mat-label>
                    <textarea formControlName="productDescription" rows=3 class="col-8 background-color"></textarea>
                </div>
            </div>
            <div id="invalidScannedCopy" class="col-md-6 no-gutters">
                <h4 *ngIf="!(amcFile===null)" class="ml-2 text-primary">Scanned Copy of Contract</h4>
                <h4 *ngIf="amcFile===null" class="ml-2 text-danger">Scanned Copy of Contract</h4>
                <mat-divider class="mat-divider"></mat-divider>
                <br />
                <div>
                    <input type="file" (change)="onFileChanged($event)">
                </div>
                <div class="mt-3" *ngIf="amcFile===null">
                    <mat-label class="error-message p-2">Scanned copy is required</mat-label>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row-reverse my-0 pb-4">
            <button (click)="submitForm()" type="submit" mat-raised-button color="primary" class="ml-1"
                [disabled]="registerStudentProgress">
                <span *ngIf="registerStudentProgress" class="spinner-border spinner-border-sm mr-1"></span>
                Renew
            </button>
        </div>
    </form>
</div>